html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

.visually-hidden:not(:focus):not(:active) { position: absolute !important; height: 1px;  width: 1px; overflow: hidden; clip: rect(1px 1px 1px 1px); /* IE6, IE7 */ clip: rect(1px, 1px, 1px, 1px); white-space: nowrap; /* added line */}

html {
    font-size: 125%;
    background: #e9d29f;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

.wrapper {
    max-width: 1100px;
    width: 90%;
    margin: 0 auto;
}

h1 {
    font-family: 'Damion', sans-serif;
    text-align: center;
    font-size: 5rem;
    color: #050505;
    text-shadow: 1px 1px #050505, 6px 6px #ff8c94, 12px 12px #66cdaa;
    margin: 20px 0;
}

.controls {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    border: 10px solid #050505;
    border-radius: 29px;
    z-index: -10;
    background: #ffd3b5;
    box-shadow: 1px 1px #050505, 2px 2px #050505, 4px 4px #050505, 8px 8px #050505, 16px 16px #050505;
    padding: 20px 0;
}

.popKnob,
.textInputs,
.extraOptions {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: calc(100% / 3);
}

.textInputs {
    align-items: normal;
}

.textInputs input,
.textInputs select,
.textInputs button {
    margin: 10px 0;
    text-align: center;
}

.textInputs input {
    font-family: 'Press Start 2P', cursive;
    font-size: 0.7rem;
    border-radius: 10px;
    border: none;
    background: #050505;
    color: #66cdaa;
    padding: 4px 0;
}

.playlistButton,
.appendButton {
    font-family: 'Montserrat', sans-serif;
    position: relative;
    padding: 10px 0;
    background-color: #66cdaa;
    border: 4px solid #050505;
    border-radius: 10px;
    box-shadow: 1px 1px #050505, 2px 2px #050505, 3px 3px #050505, 4px 4px #050505, 5px 5px #050505, 6px 6px #050505;
}

.playlistButton:active {
    box-shadow: none;
left: 6px;
top: 6px;
}

.switches {
    display: flex;
    flex-direction: column;
}

.popControl {
    position: relative;
    width: 75%;
}

.popControl p {
    font-size: 0.8rem;
    position: absolute;
}

  /* knob front */
  .knob {
    width:100px;
    height:100px;
    border-radius: 50%;
    background: #ff8c94;
    border:4px solid #050505;
    position: relative;
    z-index: 10;
    bottom: -62px;
    right: -8px;
    transform:rotate(1deg);
    -ms-transform:rotate(1deg);
    -webkit-transform:rotate(1deg);
  }
  /* knob marker */
  .knob::before {
    display: block;
    content: '';
    width:18px;
    height:12px;
    border-bottom-right-radius: 50%;
    border-top-right-radius: 50%;
    background-color: #050505;
    border:4px solid #050505;
    position: relative;
    top: 40px;
    left: -3px;
  }
  /* knob shadow */
  .knobShadow {
    display: block;
    content: '';
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #050505;
    border: 4px solid #050505;
    position: relative;
    top: -30px;
    left: 20px;
  }
  
  input[type="range"] {
    opacity: 0;
    z-index: 30;
position: absolute;
top: 100px;
left: 5px;
width: 105px;
  }
  
  .popText {
    width: 55px;
    position: relative;
    top: -35px;
    left: 90px;
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    font-size: 0.8rem;
    border-radius: 20px;
    border: none;
    background: #050505;
color: #66cdaa;
padding: 4px 0;
  }

label {
    font-size: 0.8rem;
}

input[type="checkbox"] {
    opacity: 0;
    position: absolute;
}

.toggleLabel {
    padding-right: 110px;
    margin: 30px 0 30px 30px;
    position: relative;
    width: 110%;
}

/* make the toggle's background */
.toggleLabel::before {
    position: absolute;
    transition: 0.1s ease;
}

/* make the toggle switch */
.toggleLabel::after {
    display: block;
    content: '';
    width: 40px;
    height: 40px;
    background-color: #66cdaa;
    border: 4px solid #050505;
    border-radius: 10px;
    position: absolute;
    transition: 0.1s ease;
    bottom: -0px;
    right: 80px;
    z-index: 10;
    box-shadow: 1px 1px #050505,
      2px 2px #050505,
      3px 3px #050505,
      4px 4px #050505,
      5px 5px #050505,
      6px 6px #050505;
}

/* change toggle switch position when checked */

input[type="checkbox"]:checked + .toggleLabel::after {
    bottom: -8px;
    right: 74px;
    animation: push 0.1s ease;
    box-shadow: none;
    background-color: rgb(82, 184, 150);
}

input[type="checkbox"]:checked + .toggleLabel::before {
    background-image: none;
}

/* change background color when focused on (for accessibility) */

input[type="checkbox"]:focus + .toggleLabel::before {
    background-color: #ed6b55;
}


.playlist {
    display: grid;
    grid-template-columns: 1fr 1fr;
    list-style: none;
    background: #dcedc2;
    border: 10px solid #050505;
    border-radius: 29px;
    padding: 20px 0;
    font-size: 0.8rem;
    margin-top: 40px;
    box-shadow: 1px 1px #050505, 2px 2px #050505, 4px 4px #050505, 8px 8px #050505, 16px 16px #050505;
}

.off {
    display: none;
}

.loading {
    /* add some nice stuff for while the API is loading. */
    font-family: 'Press Start 2P', cursive;
    font-size: 0.8rem;
    letter-spacing: 2px;
    color: #050505;
    padding: 10px 20px;
}

.playlist li:nth-child(odd) {
    text-align: left;
    padding-left: 20px;
}

.playlist li:nth-child(even) {
    text-align: right;
    padding-right: 20px;
}

.appendButton {
    color: #050505;
    width: 40%;
    bottom: 0;
    margin: 20px;

}

.appendButton:active {
    box-shadow: none;
    left: 6px;
    top: 6px;
}



@keyframes push {
  17% {
    box-shadow: 1px 1px #444444,
      2px 2px #444444,
      3px 3px #444444,
      4px 4px #444444,
      5px 5px #444444;
  }
  34% {
    box-shadow: 1px 1px #050505,
      2px 2px #050505,
      3px 3px #050505,
      4px 4px #050505;
  }
  51% {
    box-shadow: 1px 1px #050505,
      2px 2px #050505,
      3px 3px #050505;
  }
  68% {
    box-shadow: 1px 1px #050505,
      2px 2px #050505;
  }
  82% {
    box-shadow: 1px 1px #050505;
  }
  100% {
    box-shadow: none;
  }
}

















@media (max-width: 768px) {

    .playlist {
        grid-template-columns: 1fr 
    }

    .playlist li:nth-child(even) {
        text-align: left;
        padding-left: 20px;
    }


}
@media (max-width: 580px) {

    .controls {
        justify-content: space-evenly;
    }

    .popControl {
        right: 30px;
    }

    .knob {
        width: 80px;
        height: 80px;
        right: 6px;
    }

    .knob::before {
        width: 12px;
        height: 8px;
        top: 30px;
    }

    .knobShadow {
        width: 80px;
        height: 80px;
        top: -12px;
        left: 6px;
    }

    input[type="range"] {
        top: 90px;
        left: -10px;
        width: 85px;
    }

    .popText {
        top: 0px;
        left: 0px;
    }

    .textInputs {
        width: 95%;
        order: 1;
    }

    .switches {
        margin-right: 20px;
    }
}